@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    background-image: linear-gradient(to right,rgb(111, 196, 245),rgb(226, 114, 226));
}
.Resigration-form{
    width:430px;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    border: 2px solid gainsboro ;
    border-radius: 5px;
    margin: 10% auto;
    padding:25px;
}
.Input-content{
    display: flex;
    gap:40px;
}
input{
     background-color: white;
     border: 2px solid gainsboro;
     border-radius: 8px;
     padding: 5px;
     margin:5px;
}
label{
    font-size: 14px;
    margin: 5px;
}
.Gender-option{
    padding:5px;
}
button{
    width:420px;
    padding: 5px;
    border: 2px solid gainsboro;
    border-radius: 3px;
    margin: 8px;
    color: white;
    font-size: 18px;
    background-image: linear-gradient(to right,rgb(111, 196, 245),rgb(226, 114, 226));
}


